{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint/eslint-plugin"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "rules": {
    /**
      0 = off
      1 = warn
      2 = error
    */
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-function": "warn",
    "@typescript-eslint/no-namespace": "off"
  },
  "overrides": [
    {
      "files": [
        "./src/configs.ts",
        "./src/utils/Jagex.ts",
        "./src/utils/RuneMetricsProfile.ts"
      ],
      "rules": {
        "@typescript-eslint/camelcase": "off"
      }
    }
  ]
}
