# GitHub Configuration Files
.github

# Dependancies
node_modules

# Executables
scripts

# Source Files
src

# Log Files
*.log

# Lock Files
*.lock
package-lock.json

# Dotfiles
.*

# Configurations
tsconfig.json
tsconfig.tsbuildinfo

# Results of `npm pack`
*.tgz
