name: status
on: push

jobs:
  npm:
    name: Publish to NPM
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: "12.x"

      - name: install
        run: npm install

      - name: format
        run: npm run format

      - name: lint
        run: npm run lint

      - name: test
        run: npm run test

      - name: build
        run: scripts/build_and_move

      - name: publish (npm)
        uses: primer/publish@v2.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
          args: "--dry-run -- --unsafe-perm"
